<!doctype html>
<html lang="en" manifest="game.appcache">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="manifest" href="js/manifest.json" />
    <link rel="icon" type="image/png" href="images/icons/App-icon.png">
    <!-- Application color for Microsoft Windows app tile and Android status bar -->
    <meta name="theme-color" content="#edc22e" />
    <meta name="msapplication-TileColor" content="#edc22e" />
    <!-- Application name for Microsoft Windows app tile -->
<meta name="application-name" content="Game" />
<!-- Application config file for Microsoft browsers -->
<meta name="msapplication-config" content="config.xml" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <title>Muk games</title>
</head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('js/service-worker.js').then(
            registration => {
                console.log(`ServiceWorker registration successful with scope: ${registration.scope}`);
            },
            error => {
                console.log(`ServiceWorker registration failed: ${error}`);
            }
        );
    });
}
$(function(){
  var str = '#len'; //increment by 1 up to 1-nelemnts
  $(document).ready(function(){
    var i, stop;
    i = 1;
    stop = 4; //num elements
    setInterval(function(){
      if (i > stop){
        return;
      }
      $('#len'+(i++)).toggleClass('bounce');
    }, 500)
  });
});
var clicked=false
    function dropDown(){
        var list=document.getElementById('dd').style
         if(clicked==false){
           
            list.display="block"
            list.position="absolute"
            list.width="22%"
           
           clicked=true
        }else{
           
            list.display="none"
            clicked=false
        }
    }
</script>

