<%- include('partials/layout.ejs') -%>


<body class="contain">
   
<p class="typing anim-typewriter">Designed by Bright Muk</p>
  
  </div>
  <script>
      function redirect(){
        setTimeout(function(){ 
            window.history.back()
         }, 5500);
      }
      redirect()
   </script>
</body>
 