<%- include('partials/layout.ejs') -%>

<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3 class="text-center">Chats</h3>
  <% chats.forEach((chat, index) => { %>
    <h5><%= chat.chat_id %></h5>
    <span><%= chat.user_Id %></span>
    <% }) %>
   
</div>