<%- include('partials/layout.ejs') -%>
<div class="page-wrapper">
    <nav class="navbar nav-default">
        <span class="logo" ><a style="color:white;text-decoration: none;" href="/"><span id="capt">B</span>right<span id="capt">D</span>esigns</a></span>
       
        <a id="about"  href="/users">Users</a>
        <a id="chats" href="/start"> campaign</a>
       <img class="avatar" src="/images/<%= user.avatar %>">
    </nav>
  </div> 
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3 class="text-center">Game zone</h3>
 <br>
  
   
   <span id="smoke">
    <span class="s0"></span>
    <span class="s1"></span>
    <span class="s2"></span>
    <span class="s3"></span>
    <span class="s4"></span>
    <span class="s5"></span>
    <span class="s6"></span>
    <span class="s7"></span>
    <span class="s8"></span>
    <span class="s9"></span>
</span>
</div>