<%- include('partials/layout.ejs') -%>
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3 class="text-center">Game zone</h3>

   
   
  
</div>