<%- include('partials/layout.ejs') -%>
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3 class="text-center">Game zone</h3>
   <a href="">View chats </a> <a href="/users"> View users</a>
    <script defer src="http://localhost:6000/socket.io/socket.io.js"></script>
  
</div>