<%- include('partials/layout.ejs') -%>

<div id="toHide">
<div class="page-wrapper">
    <nav class="navbar nav-default">
       <a href="/bd"> <span  class="logo" ><span id="capt">B</span>right<span id="capt">D</span>esigns</span></a>
       
       <span> <a id="about"  href="/users">Users</a></span>
       <span> <a id="about"  href="/">Chats</a></span>
      <% if (user.avatar){ %>
       <li ><img onclick=" dropDown()" class="avatar" src="/images/<%= user.avatar %>">
        <%  }else{ %>
            <img class="avatar" src="/images/default.png">
            <% } %>
        <ul  id="dd" class="drop-down">
           
            <li style="margin-bottom:5px" >Settings</li>
           
            <li><a href="/logout">logout</a></li>
        </ul>
    </li>
    <li style="font-size:2px">.</li>
    </nav>
  </div> 
  <h6 class="text-center head">Chats</h6>
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    
 <br>
  
   
   <span id="smoke">
    <span class="s0"></span>
    <span class="s1"></span>
    <span class="s2"></span>
    <span class="s3"></span>
    <span class="s4"></span>
    <span class="s5"></span>
    <span class="s6"></span>
    <span class="s7"></span>
    <span class="s8"></span>
    <span class="s9"></span>
</span>
</div>
</div>
<script>
  var clicked=false
    function dropDown(){
        var list=document.getElementById('dd').style
         if(clicked==false){
           
            list.display="block"
            list.position="absolute"
            list.width="22%"
           
           clicked=true
        }else{
           
            list.display="none"
            clicked=false
        }
    }
</script>