<%- include('partials/layout.ejs') -%>

<div class="container">
  
   
<form class="form-signin" action="/logsin" method="post" enctype="multipart/form-data">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3 class="form-signin-heading">Sign in</h3>
   
    <label for="input username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-ctrl" placeholder="Username" required autofocus>
  
 
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-ctrl" placeholder="Password" required>
  
    <br/>
    <br>
    <button class="btn btn-sm btn-primary" type="submit">Sign In</button><br>
    <small>Dont have an account.<a href="/signup">Signup</a></small>
  </form>
  
  </div>
</div>
 