<%- include('partials/layout.ejs') -%>

<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
<form class="form-sigup" action="/signsup" method="post" enctype="multipart/form-data">
    <h3 class="form-signin-heading">Sign up</h3>
   
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-ctrl" placeholder="Email address" required autofocus>
    
   
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-ctrl" placeholder="Username" required>
  
  
  
   
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-ctrl" placeholder="Password" required>
  
  
    <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputConfirmPassword" name="confirmationPassword" class="form-ctrl" placeholder="Confirm Password" required>
  
<br>
    <br/>
   
    <button class="btn btn-sm btn-primary" type="submit"> Signup</button><br>
    <small>Have an account. <a href="/login"> Signin</a></small>
  </form>
  </div>