<%- include('partials/layout.ejs') -%>
<div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <h3 class="text-center"><%= receiver.username %></h3>
    <form id="send-container">
        <input type="text" id="message-input" class="form-ctrl">
        <button  type="submit" id="send-button" class="btn btn-primary">send</button>

    </form>
    <script defer src="http://localhost:6000/socket.io/socket.io.js"></script>
  
</div>