.wheel{
    position:relative;
    width:70%;
    margin:50px;
    margin-top:0px;
    
  }
  a{
    text-decoration: none;
    color:white
  }
  .spin{
    width:30%;
    margin-left:30%
  }
#spin h4{
    font-weight: lighter;
}
  .arrow{
    width:10%;
    position:relative;
    margin-left:45%
  }
#begin{
    transition:0.3s;
    animation: fadein 5s;
    margin-top:60%

}
#next{
    display:none;
    transition: 3s;
}
@keyframes fadein{
    from{
       display:none;
       color:white;
       font-size:10px
    }
    to{
        display:inline;
        color:black;
        font-size:30px;
    }
}

#result {
    text-align:center;
    font-size:100px;
    padding:30px;
    margin:5px;
    width:100%;height:100%;
    display:inline-block;
    animation:flicker 3s infinite alternate-reverse
}
@keyframes flicker{
    from{
        color:white;
    }
    to{
        color:black
    }
}

.tap{
    animation:slide 1.5s infinite alternate-reverse;
   
    text-align:center

}
@keyframes slide{
    from{
        opacity:1
    }
    to{
      opacity:0
    }
}

/* title animations */
#s{
    animation:coloring 3s infinite alternate-reverse;
    animation-delay: 1s;
    
}
@keyframes coloring{
 from{
    color:white
 }
 to{
    color:black
 }
}
#t{
    animation:coloring2 3s infinite alternate-reverse;
    animation-delay: 1.2s;
}
@keyframes coloring2{
    from{
       color:white
    }
    to{
       color:black
 }
}
#c{
    animation:coloring3 3s infinite alternate-reverse;
    animation-delay: 1.4s;
}
@keyframes coloring3{
    from{
       color:white
    }
    to{
       color:black
 }
}
#y{
    animation:coloring4 3s infinite alternate-reverse;
    animation-delay: 1.6s;
}
@keyframes coloring4{
    from{
       color:white
    }
    to{
       color:black
 }
}
#f{
    animation:coloring5 3s infinite alternate-reverse;
    animation-delay: 1.8s;
}
@keyframes coloring5{
    from{
       color:white
    }
    to{
       color:black
 }
}
/* fate typewriting */

.typing{
     font-weight: lighter;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%); 
     
  }
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 16em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }