*{
  color:white;
  margin:0;
  padding:0;
}
.container{
  padding-top:20%;
}
.navbar{
  background-color:black;
 opacity:0.9;
 position: fixed;
 width:100%

}
nav a{
    margin:0%;
    padding:0%;
    color:white;
    opacity:1;
    transition:0.4s
}
nav a:hover{
  color:whitesmoke;
  text-decoration: none;
  opacity:0.5;
  border-bottom:1px solid green
}
body{
  background-color: black;
  background-size:100%;
}
.logo{
  font-size:10px;

}
#capt{
    font-size:30px
} 
#login{
  background-color: black;
  color:white;
  border:1px solid white;
  padding:10px;
transition:0.4s
}
h3{
  color:white
}
.form-signin,.form-sigup{
  background-color: rgb(7, 7, 7);
 padding:50px;
 opacity:.8;
 margin-top:10%;
 
}
.form-ctrl{
  color:white;
  background-color: black;
  padding:10px;
  border:0px;
 
  -webkit-box-shadow: -1px 0px 58px -43px rgba(255,255,255,1);
-moz-box-shadow: -1px 0px 58px -43px rgba(255,255,255,1);
box-shadow: -1px 0px 58px -43px rgba(255,255,255,1);
}
.form-ctrl:focus{
  border:0px;
}
label{
  font-size:3px;
}
.user{
  padding:10px;
  border-bottom: 0.01em solid rgb(160, 160, 160);
  margin:3px;
}
.user h5{
  color:rgb(23, 23, 255)
}
a{
  color:white
}
a:focus{
  text-decoration:none;
  color:white
}
a:hover{
  text-decoration:none
}
.new-chat{
   border-radius:10px;
   background-color: rgb(27, 49, 253);
   padding:10px;
   margin-left:35%;
   width:fit-content}
.back{
  font-weight: 100;
  float:left;
  font-size:30px
}