*{
  color:white
}
nav{
  background-color:black;
 opacity:1;
 position: fixed;

}
nav a{
    margin:0%;
    padding:0%;
    color:white;
    opacity:1;
    transition:0.4s
}
nav a:hover{
  color:whitesmoke;
  text-decoration: none;
  opacity:0.5;
  border-bottom:1px solid green
}

body{
  background-color: black;
 
  background-size:100%;

}
.logo{
    font-size:10px;

}
#capt{
    font-size:30px
} 
#login{
  background-color: black;
  color:white;
  border:1px solid white;
  padding:10px;
transition:0.4s
}



h3{
  color:white
}
form{
  background-color: rgb(7, 7, 7);
 padding:50px;
 opacity:.8;
 margin-top:10%;
}
.form-ctrl{
  color:white;
  background-color: black;
 padding:10px;
  border:0px;
  border-bottom:1px solid white
}
.form-ctrl:focus{
  border:0px;
}
label{
  font-size:3px;
}